
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
body{
    background-color: rgb(246, 249, 248);
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
  
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 1.5rem 1.5rem ;
    background-color: #94d2bd;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  

.hamburger {
    display: none;
    z-index: 2;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}

.nav-item {
    margin-left: 7rem;
    
}

.nav-link{
    font-size: 1.8rem;
    font-weight: 400;
    color: #475569;
    transition: all 0.3s ease 0s;
}

.nav-link:hover{
    color: #38a3a5;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    position:fixed;
    left: 20px;
}



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);

    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
        
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
        
    }
}

.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
}

#amount-input{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    align-content: center;
}

#category-select{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    margin-top: 2rem;
    margin-bottom: 17px;
}

#date-input{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    margin-top: 2rem;
}

#amount-input-income{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    align-content: center;
}

#note-input-income{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    align-content: center;
}

#note-input{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    align-content: center;
}

#category-select-income{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    margin-top: 2rem;
    margin-bottom: 17px;
}

#date-input-income{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    margin-top: 2rem;
}

#sub-btn{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
    outline: none;
    margin-top: 2rem;
    background-color: #586391;
    color: #fff;
    cursor: pointer;
}

#view-bal{
    cursor: pointer;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 4px;
}

